<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key ="GETpdf" value=".pdf"/>
    <add key ="GETtxt" value=".txt"/>
    <add key ="GETpng" value=".png"/>
    <add key ="GETform" value="form"/>
    <add key ="POSTform" value="form"/>
    <add key ="GETupload" value="upload"/>
  </appSettings>
</configuration>